################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Book/.vs/Book
/Book/FixStore/bin/Debug/netcoreapp3.1
/Book/FixStore/obj
